name = "vlooo"
type = "javascript"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build"
cwd = ""
pages_build_output_dir = ".vercel/output/static"
